## Numpy Exercise
This exercise deals with numpy arrays. These objects are the fundamental building blocks of any scientific library in Python.

**Remark**: Add a new cell above the expected output. Otherwise you would overwrite the expected result!

#### Import Numpy

In [1]:
# solution
import numpy as np

### 1. Create Numpy Arrays
**Create an array of 12 zeros.**

In [2]:
# solution
np.zeros(12)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

**Create a $3 \times 4$ - Matrix containing only zeros.**

In [3]:
# solution
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

**Create an array of 10 fives.**

In [4]:
#solution
np.zeros(10) + 5
np.ones(10) * 5
np.array([5]*10, dtype=float) # different type

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

**Create an array of the integers from 1 to 12 and reshape the array to get a $3 \times 4$-Matrix.**  
**The matrix should be called mat. **

In [5]:
# solution
mat = np.arange(1,13).reshape(3,4)
mat

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

### 2. Indexing and Selection

**From the previously defined matrix extract the value 6.**

In [6]:
# solution
mat[1,1]

6

**Create an array from integers 1 to 32 and reshape it to an $4 \times 8$ matrix. The matrix should be called mat.**

In [7]:
# solution
mat = np.arange(1,33).reshape(4,8)
mat

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32]])

**Select the first two columns.**

In [8]:
# solution
mat[:,:2]

array([[ 1,  2],
       [ 9, 10],
       [17, 18],
       [25, 26]])

In [9]:
mat % 2

array([[1, 0, 1, 0, 1, 0, 1, 0],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [1, 0, 1, 0, 1, 0, 1, 0]])

**Select every second column, starting with column 0.**

In [10]:
## solution
mat[:,::2]
#mat[:,range(0,8,2)]

array([[ 1,  3,  5,  7],
       [ 9, 11, 13, 15],
       [17, 19, 21, 23],
       [25, 27, 29, 31]])

**Extract every value of the matrix which is larger than 13.**

In [27]:
## solution
mat[mat > 13]

array([14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30,
       31, 32])

**Extract all even values of the matrix.**

In [16]:
## solution
mat[np.mod(mat,2) == 0]
#mat[mat % 2 == 0]

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32])

**Extract all elements which are larger than 13 and smaller than 24.**

In [36]:
## solution
mat[(mat > 13) & (mat < 24) ]

array([14, 15, 16, 17, 18, 19, 20, 21, 22, 23])

### 3. Basic operations with numpy

**Compute the sum of all elements in the matrix.**

In [19]:
# solution
#mat.sum().sum()
mat.sum()

528

**Compute the column-wise sum.**

In [37]:
# solution
mat.sum(axis=1)

array([ 36, 100, 164, 228])

**Compute the row-wise sum.**

In [38]:
mat.sum(axis=0)

array([52, 56, 60, 64, 68, 72, 76, 80])

**Compute the mean and the standard deviation of the columns.**

In [39]:
# solution
mat.mean(axis=1)

array([  4.5,  12.5,  20.5,  28.5])

In [40]:
# solution
mat.std(axis=1)

array([ 2.29128785,  2.29128785,  2.29128785,  2.29128785])

** Compute the inner product of the matrix with its transpose.**

In [50]:
# solution
np.dot(mat,mat.T)

array([[ 204,  492,  780, 1068],
       [ 492, 1292, 2092, 2892],
       [ 780, 2092, 3404, 4716],
       [1068, 2892, 4716, 6540]])