In [79]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelBinarizer, LabelEncoder, FunctionTransformer, MultiLabelBinarizer
from sklearn_pandas import DataFrameMapper

In [42]:
titanic = sns.load_dataset('titanic')

In [43]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [44]:
titanic_cats = titanic.select_dtypes(include=[object]).columns.tolist()
titanic_cats

['sex', 'embarked', 'who', 'embark_town', 'alive']

In [45]:
titanic.nunique()

survived         2
pclass           3
sex              2
age             88
sibsp            7
parch            7
fare           248
embarked         3
class            3
who              3
adult_male       2
deck             7
embark_town      3
alive            2
alone            2
dtype: int64

In [46]:
titanic['sex'].unique()

array(['male', 'female'], dtype=object)

In [55]:
titanic[titanic_cats] = titanic[titanic_cats].fillna('NaN')

In [56]:
titanic[titanic_cats] = titanic[titanic_cats].apply(lambda s: s.astype('category', categories=s.unique()))

In [57]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null category
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       891 non-null category
class          891 non-null category
who            891 non-null category
adult_male     891 non-null bool
deck           203 non-null category
embark_town    891 non-null category
alive          891 non-null category
alone          891 non-null bool
dtypes: bool(2), category(7), float64(2), int64(4)
memory usage: 50.8 KB

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
train, test = train_test_split(titanic, test_size=0.2, random_state=22)

In [61]:
train.nunique()

survived         2
pclass           3
sex              2
age             87
sibsp            7
parch            7
fare           221
embarked         4
class            3
who              3
adult_male       2
deck             7
embark_town      4
alive            2
alone            2
dtype: int64

In [62]:
test.nunique()

survived         2
pclass           3
sex              2
age             58
sibsp            7
parch            4
fare           104
embarked         4
class            3
who              3
adult_male       2
deck             7
embark_town      4
alive            2
alone            2
dtype: int64

mapper_df = DataFrameMapper([  
...     ('pet', sklearn.preprocessing.LabelBinarizer()),  
...     (['children'], sklearn.preprocessing.StandardScaler())  
... ], df_out=True)

>>> from sklearn_pandas import gen_features  
>>> feature_def = gen_features(  
...     columns=['col1', 'col2', 'col3'],  
...     classes=[sklearn.preprocessing.LabelEncoder]  
... )  
>>> feature_def  
[('col1', [LabelEncoder()]), ('col2', [LabelEncoder()]), ('col3', [LabelEncoder()])]  
>>> mapper5 = DataFrameMapper(feature_def)  
>>> data5 = pd.DataFrame({  
...     'col1': ['yes', 'no', 'yes'],  
...     'col2': [True, False, False],  
...     'col3': ['one', 'two', 'three']  
... })  
>>> mapper5.fit_transform(data5)  
array([[1, 1, 0],  
       [0, 0, 2],  
       [1, 0, 1]])

In [175]:
from sklearn_pandas import gen_features
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [193]:
feature_def = gen_features(columns=titanic_cats, classes=[LabelBinarizer, StandardScaler])
#feature_2 = gen_features(columns=titanic.select_dtypes(exclude=[object]).columns.tolist(), classes=[MinMaxScaler])

In [194]:
mapper_df = DataFrameMapper(feature_def,
                            #default=,
                            df_out=True)

In [195]:
feature_def = gen_features(columns=titanic_cats, classes=[LabelBinarizer])
mapper_2 = DataFrameMapper()

TypeError: __init__() missing 1 required positional argument: 'features'

In [196]:
from sklearn.pipeline import Pipeline

In [197]:
pipe = Pipeline([
    ('mapper', mapper_df)
])

In [198]:
pipe.fit_transform(train, y=None)

/opt/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:558: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/opt/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:558: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/opt/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:558: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/opt/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:558: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/opt/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:558: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/opt/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:558: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/opt/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:558: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/opt/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:558: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/opt/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:558: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/opt/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:558: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

,sex,embarked_C,embarked_NaN,embarked_Q,embarked_S,who_child,who_man,who_woman,embark_town_Cherbourg,embark_town_NaN,embark_town_Queenstown,embark_town_Southampton,alive
793,0.735612,2.105971,-0.037503,-0.306108,-1.639853,-0.330203,0.809823,-0.651153,2.105971,-0.037503,-0.306108,-1.639853,-0.788586
814,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
43,-1.359412,2.105971,-0.037503,-0.306108,-1.639853,3.028437,-1.234837,-0.651153,2.105971,-0.037503,-0.306108,-1.639853,1.268093
269,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,1.268093
538,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
890,0.735612,-0.474840,-0.037503,3.266823,-1.639853,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,3.266823,-1.639853,-0.788586
468,0.735612,-0.474840,-0.037503,3.266823,-1.639853,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,3.266823,-1.639853,-0.788586
543,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,1.268093
778,0.735612,-0.474840,-0.037503,3.266823,-1.639853,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,3.266823,-1.639853,-0.788586
500,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
577,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,1.268093
833,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
215,-1.359412,2.105971,-0.037503,-0.306108,-1.639853,-0.330203,-1.234837,1.535738,2.105971,-0.037503,-0.306108,-1.639853,1.268093
284,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
810,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
181,0.735612,2.105971,-0.037503,-0.306108,-1.639853,-0.330203,0.809823,-0.651153,2.105971,-0.037503,-0.306108,-1.639853,-0.788586
843,0.735612,2.105971,-0.037503,-0.306108,-1.639853,-0.330203,0.809823,-0.651153,2.105971,-0.037503,-0.306108,-1.639853,-0.788586
40,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
464,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
828,0.735612,-0.474840,-0.037503,3.266823,-1.639853,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,3.266823,-1.639853,1.268093
345,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,1.268093
119,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,3.028437,-1.234837,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
239,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
669,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,1.268093
328,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,1.268093
550,0.735612,2.105971,-0.037503,-0.306108,-1.639853,-0.330203,0.809823,-0.651153,2.105971,-0.037503,-0.306108,-1.639853,1.268093
552,0.735612,-0.474840,-0.037503,3.266823,-1.639853,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,3.266823,-1.639853,-0.788586
779,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,1.268093
692,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,1.268093
647,0.735612,2.105971,-0.037503,-0.306108,-1.639853,-0.330203,0.809823,-0.651153,2.105971,-0.037503,-0.306108,-1.639853,1.268093
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,0.735612,-0.474840,-0.037503,3.266823,-1.639853,3.028437,-1.234837,-0.651153,-0.474840,-0.037503,3.266823,-1.639853,-0.788586
633,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
294,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
81,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,1.268093
722,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
541,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,3.028437,-1.234837,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
674,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
883,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
539,-1.359412,2.105971,-0.037503,-0.306108,-1.639853,-0.330203,-1.234837,1.535738,2.105971,-0.037503,-0.306108,-1.639853,1.268093
367,-1.359412,2.105971,-0.037503,-0.306108,-1.639853,-0.330203,-1.234837,1.535738,2.105971,-0.037503,-0.306108,-1.639853,1.268093
133,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,1.268093
680,-1.359412,-0.474840,-0.037503,3.266823,-1.639853,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,3.266823,-1.639853,-0.788586
8,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,1.268093
290,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,1.268093
93,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
472,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,1.268093
557,0.735612,2.105971,-0.037503,-0.306108,-1.639853,-0.330203,0.809823,-0.651153,2.105971,-0.037503,-0.306108,-1.639853,-0.788586
764,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
526,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,1.268093
658,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
484,0.735612,2.105971,-0.037503,-0.306108,-1.639853,-0.330203,0.809823,-0.651153,2.105971,-0.037503,-0.306108,-1.639853,1.268093
479,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,3.028437,-1.234837,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,1.268093
596,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,1.268093
491,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
502,-1.359412,-0.474840,-0.037503,3.266823,-1.639853,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,3.266823,-1.639853,-0.788586
358,-1.359412,-0.474840,-0.037503,3.266823,-1.639853,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,3.266823,-1.639853,1.268093
356,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,1.268093
812,0.735612,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,0.809823,-0.651153,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
132,-1.359412,-0.474840,-0.037503,-0.306108,0.609811,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,-0.306108,0.609811,-0.788586
885,-1.359412,-0.474840,-0.037503,3.266823,-1.639853,-0.330203,-1.234837,1.535738,-0.474840,-0.037503,3.266823,-1.639853,-0.788586

In [167]:
feature_def

[('sex', [LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)]),
 ('embarked', [LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)]),
 ('who', [LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)]),
 ('embark_town',
  [LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)]),
 ('alive', [LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)])]

In [168]:
mapper_df.fit_transform(train,y=None )

ValueError: ['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare', 'class', 'adult_male', 'deck', 'alone']: could not convert string to float: 'E'

In [67]:
ft = FunctionTransformer(func=pd.get_dummies)

In [70]:
pd.get_dummies(train)

,survived,pclass,age,sibsp,parch,fare,adult_male,alone,sex_male,sex_female,...,deck_D,deck_E,deck_F,deck_G,embark_town_Southampton,embark_town_Cherbourg,embark_town_Queenstown,embark_town_NaN,alive_no,alive_yes
793,0,1,NaN,0,0,30.6958,True,True,1,0,...,0,0,0,0,0,1,0,0,1,0
814,0,3,30.5,0,0,8.0500,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
43,1,2,3.0,1,2,41.5792,False,False,0,1,...,0,0,0,0,0,1,0,0,0,1
269,1,1,35.0,0,0,135.6333,False,True,0,1,...,0,0,0,0,1,0,0,0,0,1
538,0,3,NaN,0,0,14.5000,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
890,0,3,32.0,0,0,7.7500,True,True,1,0,...,0,0,0,0,0,0,1,0,1,0
468,0,3,NaN,0,0,7.7250,True,True,1,0,...,0,0,0,0,0,0,1,0,1,0
543,1,2,32.0,1,0,26.0000,True,False,1,0,...,0,0,0,0,1,0,0,0,0,1
778,0,3,NaN,0,0,7.7375,True,True,1,0,...,0,0,0,0,0,0,1,0,1,0
500,0,3,17.0,0,0,8.6625,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
577,1,1,39.0,1,0,55.9000,False,False,0,1,...,0,1,0,0,1,0,0,0,0,1
833,0,3,23.0,0,0,7.8542,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
215,1,1,31.0,1,0,113.2750,False,False,0,1,...,1,0,0,0,0,1,0,0,0,1
284,0,1,NaN,0,0,26.0000,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
810,0,3,26.0,0,0,7.8875,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
181,0,2,NaN,0,0,15.0500,True,True,1,0,...,0,0,0,0,0,1,0,0,1,0
843,0,3,34.5,0,0,6.4375,True,True,1,0,...,0,0,0,0,0,1,0,0,1,0
40,0,3,40.0,1,0,9.4750,False,False,0,1,...,0,0,0,0,1,0,0,0,1,0
464,0,3,NaN,0,0,8.0500,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
828,1,3,NaN,0,0,7.7500,True,True,1,0,...,0,0,0,0,0,0,1,0,0,1
345,1,2,24.0,0,0,13.0000,False,True,0,1,...,0,0,1,0,1,0,0,0,0,1
119,0,3,2.0,4,2,31.2750,False,False,0,1,...,0,0,0,0,1,0,0,0,1,0
239,0,2,33.0,0,0,12.2750,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
669,1,1,NaN,1,0,52.0000,False,False,0,1,...,0,0,0,0,1,0,0,0,0,1
328,1,3,31.0,1,1,20.5250,False,False,0,1,...,0,0,0,0,1,0,0,0,0,1
550,1,1,17.0,0,2,110.8833,True,False,1,0,...,0,0,0,0,0,1,0,0,0,1
552,0,3,NaN,0,0,7.8292,True,True,1,0,...,0,0,0,0,0,0,1,0,1,0
779,1,1,43.0,0,1,211.3375,False,False,0,1,...,0,0,0,0,1,0,0,0,0,1
692,1,3,NaN,0,0,56.4958,True,True,1,0,...,0,0,0,0,1,0,0,0,0,1
647,1,1,56.0,0,0,35.5000,True,True,1,0,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,0,3,8.0,4,1,29.1250,False,False,1,0,...,0,0,0,0,0,0,1,0,1,0
633,0,1,NaN,0,0,0.0000,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
294,0,3,24.0,0,0,7.8958,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
81,1,3,29.0,0,0,9.5000,True,True,1,0,...,0,0,0,0,1,0,0,0,0,1
722,0,2,34.0,0,0,13.0000,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
541,0,3,9.0,4,2,31.2750,False,False,0,1,...,0,0,0,0,1,0,0,0,1,0
674,0,2,NaN,0,0,0.0000,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
883,0,2,28.0,0,0,10.5000,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
539,1,1,22.0,0,2,49.5000,False,False,0,1,...,0,0,0,0,0,1,0,0,0,1
367,1,3,NaN,0,0,7.2292,False,True,0,1,...,0,0,0,0,0,1,0,0,0,1
133,1,2,29.0,1,0,26.0000,False,False,0,1,...,0,0,0,0,1,0,0,0,0,1
680,0,3,NaN,0,0,8.1375,False,True,0,1,...,0,0,0,0,0,0,1,0,1,0
8,1,3,27.0,0,2,11.1333,False,False,0,1,...,0,0,0,0,1,0,0,0,0,1
290,1,1,26.0,0,0,78.8500,False,True,0,1,...,0,0,0,0,1,0,0,0,0,1
93,0,3,26.0,1,2,20.5750,True,False,1,0,...,0,0,0,0,1,0,0,0,1,0
472,1,2,33.0,1,2,27.7500,False,False,0,1,...,0,0,0,0,1,0,0,0,0,1
557,0,1,NaN,0,0,227.5250,True,True,1,0,...,0,0,0,0,0,1,0,0,1,0
764,0,3,16.0,0,0,7.7750,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
526,1,2,50.0,0,0,10.5000,False,True,0,1,...,0,0,0,0,1,0,0,0,0,1
658,0,2,23.0,0,0,13.0000,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
484,1,1,25.0,1,0,91.0792,True,False,1,0,...,0,0,0,0,0,1,0,0,0,1
479,1,3,2.0,0,1,12.2875,False,False,0,1,...,0,0,0,0,1,0,0,0,0,1
596,1,2,NaN,0,0,33.0000,False,True,0,1,...,0,0,0,0,1,0,0,0,0,1
491,0,3,21.0,0,0,7.2500,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
502,0,3,NaN,0,0,7.6292,False,True,0,1,...,0,0,0,0,0,0,1,0,1,0
358,1,3,NaN,0,0,7.8792,False,True,0,1,...,0,0,0,0,0,0,1,0,0,1
356,1,1,22.0,0,1,55.0000,False,False,0,1,...,0,1,0,0,1,0,0,0,0,1
812,0,2,35.0,0,0,10.5000,True,True,1,0,...,0,0,0,0,1,0,0,0,1,0
132,0,3,47.0,1,0,14.5000,False,False,0,1,...,0,0,0,0,1,0,0,0,1,0
885,0,3,39.0,0,5,29.1250,False,False,0,1,...,0,0,0,0,0,0,1,0,1,0

In [5]:
sex = titanic.sex

In [71]:
le = LabelEncoder()

In [73]:
le.fit_transform(titanic['sex'])

array([1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1])

In [10]:
le.classes_

array(['female', 'male'], dtype=object)

In [12]:
ohe = OneHotEncoder()

ideas:

- use get dummies and so on to get to the design matrix
- from there on you can use scikit learn classes